/*
==============================================================================
	MOBILE MEDIA QUERIES
==============================================================================
*/


/*---------------------------------------------------------------------------*/
/*	Tablets - for 1035px or less
/*---------------------------------------------------------------------------*/


@media screen and (max-width: 1035px) {

.waze_wa_buttons {    
		display: block;
}

	#comments { width: auto; }

	#logo { min-height: 132px; }
	
	#load-more { width: 620px !important; }

	.home #home-intro { margin-right: 0; }

	.home #sidebar { display: none; }

	.search #masonry { padding: 0 }

	#main,
	#footer-inner {
	    width: auto;
	    margin: 0;
	}

	#header-inner {
	    width: auto;
	    max-width: 620px;
	}

	.page #container,
	.single #container { width: 620px }

	.single.single-showcase #main {
	    width: 620px;
	    max-width: 620px;
	    margin: 0 auto;
	}

	#primary-menu { top: 20px }
		
	#primary-menu ul li { display: block; }

	#primary-menu ul ul { padding: 0; margin-top: -30px; }

	#primary-menu ul ul li:first-child { border-top: 10px solid #ddd; }

	#primary-menu .right-menu ul ul { margin-left: -190px !important; }

	#primary-menu .left-menu ul ul { margin-left: 150px !important; }

	#bottom,
	#page { overflow: hidden }

	#sidebar {
	    width: 620px;
	    margin: 0;
	}

	.page #sidebar,
	.single #sidebar { margin-bottom: 30px }

	.single #container,
	.page #container {
	    float: none;
	    margin: 0 auto 10px;
	    width: 620px;
	}

	.page #content,
	.single #content {
	    width: 620px;
	    max-width: 620px;
	}

	.single #content,
	.page #content { max-width: 620px }

	#content { width: 640px }

	#container {
	    float: none;
	    overflow: hidden;
	    margin: 0 auto 30px;
	    padding: 0;
	    width: 620px;
	}

	.archive #sidebar {
	    position: relative;
	    float: left;
	    width: 620px;
	}

	.archive #masonry { padding: 0 }

	.tax-group #content,
	.page.page-template-template-showcase-php #content {
	    width: 640px;
	    max-width: 640px;
	}

	.tax-group #container,
	.page.page-template-template-showcase-php #container {
	    width: 620px;
	    float: none;
	}

	.single.single-showcase #content {
	    width: 620px;
	    max-width: 640px;
	}

	.single.single-showcase #container {
	    width: 620px;
	    float: none;
	}

	.single.single-showcase #content .post-content {
	    padding-bottom: 10px;
	}

	.single.single-showcase #content .showcase.format-gallery .post-content {
	    padding-top: 20px;
	    margin: 0;
	}

	.single.single-showcase .featured-image {
	    float: none;
	    width: 620px;
	}

	#single-slides .slides_container .caption { display: none; }

	.featured-image div .da-wrap {
		position: absolute;
		width: 260px;
	}

	#related .featured-image div .da-wrap { width: 220px; }

	#related { margin: 0 0 30px; }

	.archive #sidebar,
	.archive-title-item { display: none !important }

	.archive #masonry {
	    padding: 0;
	    margin-left: 0;
	}

	.tax-group #masonry { margin-left: 0 }

	.page-template-template-fullwidth-php #comments { max-width: 620px }

	.page-template-template-fullwidth-php #comments #respond {
	    width: 560px;
	    max-width: 560px;
	}

	.footer-widget .search-wrap input, .footer-widget .DT_Search input { max-width: 148px !important; }

	#footer-widgets { width: 640px; }

	#footer-widgets .footer-widget { width: 180px; }
	
/*Customized Stlv for tablets:*/
	
	#logo-stlv { min-height: 92px; margin:20px auto auto auto; position: static; width: 500px; padding: 0;}
	
	#primary-menu .split-menu { width: 60px; top:20px; } /*Customized Stlv from 160 -<*/
	
	#primary-menu .split-special-menu {display: none;}
	
	.fb-button a:before{ margin-right:0; } 
	
	.subscribe-button a:before{ margin-right:0; } 
	
	.subscribe-button a span{ display:none; } 
	
	.subscribe-button {margin-top:-20px;}
	
	.split-menu .fb-button a span{ display:none; } 
	
	/*Customized By Interblog for Stlv*/

#secondary-menu {
	width: 100%;
	background: #333;
	left: 0;
	position: fixed;
	float:left;
	width:100%;
	z-index: 9999;
}

body.admin-bar #secondary-menu {
	    top: 46px;
	}
	
body.admin-bar #header {
	    padding:110px 0 20px;
	}
	
	/*/Customized By Interblog for Stlv*/


}



@media screen
and (max-width: 1035px)
and (min-width: 681px) {
.waze_wa_buttons {    
		display: block;
}


	.search-mobile { display:block; }

	#related { width: 580px; }

	#related li {
		display: inline-block;
		padding: 0 10px;
	}

	#footer-menu,
	#credits {
	    float: none;
	    text-align: center;
	}

	#footer-menu li {
	    float: none !important;
	    display: inline-block;
	    margin: 10px 0;
	}
	
	/*Customized By Interblog for Stlv*/

#secondary-menu {
	width: 100%;
	background: #333;
	left: 0;
	position: fixed;
	float:left;
	width:100%;
	z-index: 9999;
}

body.admin-bar #secondary-menu {
	    top: 28px;
	}
	
body.admin-bar #header {
	    padding:70px 0 20px;
	}
	
	/*/Customized By Interblog for Stlv*/
	
	iframe {max-width: 100%; max-height: 100%;}


}




/*---------------------------------------------------------------------------*/
/*	Mobiles - for 680px or less
/*---------------------------------------------------------------------------*/

@media screen and (max-width: 680px) {
	.waze_wa_buttons {    
			display: block;
	}

	.event-image {
        display: none;
    }

	.event-price {
        display: none;
    }
	
	.search-mobile { display:block; }

	#logo {
	    width: auto;
	    padding: 0;
	}


	#mobile-menu {
	    display: block;
	    padding: 20px 0;
	    background: #333;
	    text-align:center;
	 	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	 	width: 100%;
		left: 0;
		z-index: 9999;
	}

	#mobile-menu select { border: 2px solid #222; }

	#mobile-menu ul { display: none; }

	.home #home-intro { display: none; }

	#load-more { width: 300px !important; }

	.one-half,
	.one-third,
	.two-third,
	.three-fourth,
	.one-fourth {
	    width: auto !important;
	    float: none !important;
	}

	#primary-menu,
	#secondary-menu { display: none }

	#sidebar { width: 100% }

	#container {
	    width: 300px;
	    padding: 0;
	}

	.single.single-showcase #main { width: auto }

	.page #content,
	.single #content,
	.page #container,
	.single #container { width: 300px }

	.page-template-default #content .post-header,
	.page-template-template-fullwidth-php #content .post-header,
	.single #content .post-header { padding: 20px 20px 25px; }

	.page-template-default #content .post-content,
	.page-template-template-fullwidth-php #content .post-content,
	.single #content .post-content,
	#comments .inner  { padding: 20px 20px 10px; }

	#content { width: 100% }

	#header { padding: 0 0 20px }

	.page #container,
	.single #container { width: 300px }

	.page #content,
	.single #content { max-width: 300px }

	#home-title {
	    float: none;
	    margin: 0 auto 20px;
	    width: 300px;
	    text-align: center;
	}

	.page .hentry,
	.single .hentry {
	    width: 300px;
	    max-width: 300px;
	}

	#single-slides,
	#single-slides .slides_container {
	    width: 300px;
	    height: auto;
	}

	#single-slides .slides_container img {
	    display: block;
	    width: 300px;
	    height: auto;
	}

	.tax-group #content,
	.page.page-template-template-showcase-php #content {
	    width: 100%;
	    max-width: 100%;
	}

	.tax-group #container,
	.page.page-template-template-showcase-php #container { width: 300px }

	.single.single-showcase #content {
	    width: 100%;
	    max-width: 100%;
	}

	.single.single-showcase #container { width: 300px }

	.single.single-showcase #content .post-content {
	    width: 260px;
	    float: none;
	}

	.single.single-showcase .featured-image { width: 300px }

	.single.single-showcase .featured-image img { width: 100% }

	.featured .featured-image img { margin: -50px 0 0 -50px }

	#slides .post-title a { color: #fff }

	.archive-title-item,
	#sidebar,
	#primary-menu ul ul,
	.item .featured-details .post-content,
	.item .featured-details a.read-more { display: none !important }

	th { padding: 5px }

	td { padding: 5px }

	#hentry-wrap { width: 300px }

	#archive-title { margin-right: 0; }

	#archive-title .inner { padding: 14px 20px }
	
	#homepage-bar .inner { padding: 14px 20px }

	#filter li {
	    margin: 4px 0;
	    display: block;
	}

	.page-template-template-fullwidth-php #comments { max-width: 300px }

	.page-template-template-fullwidth-php #comments #respond {
	    width: 240px;
	    max-width: 240px;
	}

	.featured .featured-details .post-content { display: none }

	.featured .post-title a { font-size: 24px }

	.featured .featured-details .inner {
	    padding: 0;
	    width: 100%;
	    bottom: 40%;
	}

	#footer-widgets  { width: 280px; }

	#footer-widgets .footer-widget {
		float: none;
		margin: 0 auto !important;
		width: 280px;
	}

	.footer-widget .search-wrap input, .footer-widget .DT_Search input { max-width: 90% !important; }


/*Customized for Stlv*/

	#logo-stlv { 
		min-height: 92px; 
		margin:1%; 
		position: static; 
		width: auto; 
		padding: 20px 20px 0 20px;}
		
	#homepage-bar-filter li {
		line-height: 1;
	}
	
	.eventr{
		display:none;
		}

body.admin-bar #mobile-menu {
	    top: 46px;
	    position:absolute;
	}
	
body.admin-bar #header {
	    padding:110px 0 20px;
	}
			
iframe {max-width: 100%; max-height: 100%;}
}
